[submodule "resource_packs/classic_faithful/32x_programmer_art/bedrock"]
	path = resource_packs/classic_faithful/32x_programmer_art/bedrock
	url = https://github.com/ClassicFaithful/32x-Programmer-Art-Bedrock
[submodule "resource_packs/classic_faithful/32x_programmer_art/java"]
	path = resource_packs/classic_faithful/32x_programmer_art/java
	url = https://github.com/ClassicFaithful/32x-Programmer-Art
[submodule "resource_packs/classic_faithful/32x_jappa/bedrock"]
	path = resource_packs/classic_faithful/32x_jappa/bedrock
	url = https://github.com/ClassicFaithful/32x-Jappa-Bedrock
[submodule "resource_packs/classic_faithful/32x_jappa/java"]
	path = resource_packs/classic_faithful/32x_jappa/java
	url = https://github.com/ClassicFaithful/32x-Jappa
[submodule "resource_packs/classic_faithful/64x_jappa/java"]
	path = resource_packs/classic_faithful/64x_jappa/java
	url = https://github.com/ClassicFaithful/64x-Jappa
[submodule "resource_packs/faithful/32x_jappa/java"]
	path = resource_packs/faithful/32x_jappa/java
	url = https://github.com/Faithful-Resource-Pack/Faithful-Java-32x
[submodule "resource_packs/faithful/32x_jappa/bedrock"]
	path = resource_packs/faithful/32x_jappa/bedrock
	url = https://github.com/Faithful-Resource-Pack/Faithful-Bedrock-32x
[submodule "resource_packs/faithful/64x_jappa/java"]
	path = resource_packs/faithful/64x_jappa/java
	url = https://github.com/Faithful-Resource-Pack/Faithful-Java-64x
[submodule "resource_packs/faithful/64x_jappa/bedrock"]
	path = resource_packs/faithful/64x_jappa/bedrock
	url = https://github.com/Faithful-Resource-Pack/Faithful-Bedrock-64x
